@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

:root {
  font-family: "Noto Sans", sans-serif;
  --pumpkin: #fa8334ff;
  --floral-white: #fff8f0ff;
  --picton-blue: #3fa7d6ff;
  --davys-gray: #D6D7D5;
  --eerie-black: #171d1cff;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
  color: var(--eerie-black);
}

text {
  color: var(--eerie-black);
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside {
  grid-row: 1 / 3;
  background-color: var(--picton-blue);
  padding: 1rem;

  display: grid;
  grid-template-rows: repeat(3, auto) 1fr;
  gap: 2rem;
  align-items: baseline;
}

aside > div,
aside > ul {
  display: grid;
  height: fit-content;
}

aside > div {
  grid-auto-flow: column;
  padding-right: 2rem;
}

.logo > svg {
  height: 2rem;
}

li > svg {
  padding: 0.2rem;
}

li {
  font-weight: 700;
  color: var(--floral-white);
}

.logo > svg > path,
li > svg > path {
  fill: var(--floral-white);
}

aside h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--floral-white);
}

aside > ul {
  list-style: none;
  align-items: center;
}

.logo,
.menu {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 15% 1fr;
  gap: 1rem;
  align-items: center;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5 1rem;
  padding: 1rem;
  background-color: var(--floral-white);
  box-shadow: 0 3px 5px 0 darkgray;
}

header > div {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
}

.hd-search{
  grid-template-columns: 2rem 4fr;
  justify-content: center;
  padding-right: 2rem;
}

.hd-search svg,
.hd-user-corner svg {
  max-height: 1.6rem;
  min-height: 1.2rem;
}

.hd-user-corner {
  grid-template-columns: 1fr repeat(2, max-content);
  justify-items: end;
}

img {
  height: 50px;
  width: auto;
  border-radius: 100%;
}

.hd-user-welcome {
  grid-template-columns: auto minmax(max-content, 1fr);
}

.hd-user-welcome p {
  line-height: 1.1rem;
}

.user{
  font-size: 1.2rem;
  font-weight: 700;
}

#avatar {
  height: 64px;
  width: auto;
}

.hd-user-btn-group {
  grid-template-columns: repeat(3, auto);
  justify-items: end;
  justify-content: space-between;
}

.user-btn {
  border: none;
  background-color: var(--picton-blue);
  padding: 0.8rem 1.4rem;
  font-size: 1.1rem;
  border-radius: 2rem;
  font-weight: 800;
  color: var(--floral-white);
}

input{
  border-radius: 1rem;
  background-color: var(--davys-gray);
  border: none;
  padding: 0.5rem;
  outline: none;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem 1rem;
  padding: 1rem;
  background-color: var(--davys-gray);
}

main h2{
  padding-bottom: 1rem;
}

.projects{
  grid-row: 1 / 3;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: minmax(300px, 1fr);
  gap: 1rem
}

.card,
.trending-card, 
.announcements-card {
  background-color: var(--floral-white);
  border-radius: 5px;
  padding: 1rem;
  display: grid;
  box-shadow: 0 4px 5px 2px darkgray;
}

.trending-card, 
.announcements-card {
  gap: 1rem;
}

.trending-item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto minmax(max-content, 1fr);
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.card {
  gap: 3rem;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  border-left: 6px solid var(--pumpkin);
}

.card-body{
  grid-column: 1 / 3;
}

.card-button-group{
  grid-row: 2;
  grid-column: 2;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  justify-content: space-between;
}

.card-button-group svg {
  height: 1.4rem;
}

svg > path {
  fill: var(--eerie-black);
}

.anmt:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid darkgray;
}